.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}
body {
  background: linear-gradient(to right, #22A3C4, #01288a);
  overflow-x: hidden;
}
.icons {
  background: linear-gradient(to right, #22A3C4, #01288a);
}

.slide {
  width: 70%;
  margin: 0 auto;
}
.custom-img {
  height: 600px;
  object-fit: cover;
}


.navbar {
  transition: all 0.5s ease-in-out;
   margin-bottom: 0 !important;
   padding-bottom: 0 !important;
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  background: url(../images/VIPSisirin.png) center center no-repeat;
  background-size: cover;
}

.modal-dialog {
  max-width: 1040px;
}

.download {
  background: url("../images/download-background.jpg") center center no-repeat;
  background-size: cover;
}

.map iframe {
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  border: none;
}

@media (max-width: 1000px) {
  .navbar {
    background: var(--bs-dark);
  }
  .hero .image-container {
    display: flex;
    justify-content: center;
  }
  .hero .text-container {
    text-align: center;
  }
  .custom-img {
    height: auto; /* Removes the fixed height */
  }
}
